
html, body {
  margin: 0;
  padding: 0;
  background-color: #f4dcdc;
}


nav.menu-navigation-basic ul {
	padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  height: 3em;
  z-index: 1;
  position: fixed;
  background-color: #fdece6;
  justify-content: center;
  align-items: center;
  display: flex;
  border-top: solid 1em #f4dcdc;

}

nav.menu-navigation-basic ul li {
  padding: 1em;
	display: inline;
  padding-left: 4em;
  padding-right: 4em;
}

nav.menu-navigation-basic ul li a {

  text-align: center;
  text-decoration: none;
	color: #ea7e83;
  margin-top: 0px;
  padding-top: 1em;
  font-size: 1.6em;

}

.img-brand {
    height: 60px;
}

.menu-navigation-basic ul li a.selected {
    color:  #9b8a4a;
    border-bottom: 2px solid #dbd84e;
    padding-bottom: 6px;
}

.menu-navigation-basic ul li a {
    -webkit-transition:all .8s cubic-bezier(0.23,1,0.32,1);
  	-moz-transition:all .8s cubic-bezier(0.23,1,0.32,1);
  	-o-transition:all .8s cubic-bezier(0.23,1,0.32,1);
  	-ms-transition:all .8s cubic-bezier(0.23,1,0.32,1);
  	transition:all .8s cubic-bezier(0.23,1,0.32,1);
}

.menu-navigation-basic ul li a:hover {
     color: #5c3239;
}

.botao {
    display: inline-block;
    color: #fff;
    font-size: 1.8em;
    background-color: #ea7e83;
    padding: 0.2em;
    border-width: 1px;
    border-radius: 50%;
    border-color: #fdece6;
}

.botao:hover {
    cursor: pointer;
}


.player {
    width: 50%;
    background-color: #ea7e83;
    color: #fdece6;
    padding: 2em;
}

.controles {
    width: 20%;
    margin-left: 40%;
}

.list-music {
    height: 10em;
    width: 54.8%;
    overflow-y: scroll;
    background-color: #fdece6;
}

#canvasBarra {
    margin-top:10px;
    border-style: solid;
    border-color: #fdece6;
    border-width: 1px;
    border-radius: 25px;
    padding:2px;
}



.titulo {
  display: inline-block;
  position: absolute;
  padding-left: 5%;
  font-size: 1.8em;

}

#canvasBarra:hover {

    cursor: pointer;
}
