
@font-face {
      font-family: "romance-fatal";
      src: url("../fonts/romance-fatal.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
      }

@font-face {
  font-family: "calibri";
  src: url("../fonts/calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

}

html, body {
  margin: 0;
  padding: 0;
  font-family: "romance-fatal";
}

button {
    font-family: "romance-fatal";
}

/*
nav.menu-navigation-basic ul {
	padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  height: 3em;
  z-index: 1;
  position: fixed;
  background-color: #fdece6;
  justify-content: center;
  align-items: center;
  display: flex;
  border-top: solid 1em #f4dcdc;

}

nav.menu-navigation-basic ul li {
  padding: 1em;
	display: inline;
  padding-left: 4em;
  padding-right: 4em;
}

nav.menu-navigation-basic ul li a {
    text-align: center;
    text-decoration: none;
    color: #ea7e83;
    margin-top: 0px;
    padding-top: 1em;
    font-size: 1.6em;

}

.menu-navigation-basic ul li a.selected {
    color: #5c3239;
}

.menu-navigation-basic ul li a {
    -webkit-transition:all .8s cubic-bezier(0.23,1,0.32,1);
  	-moz-transition:all .8s cubic-bezier(0.23,1,0.32,1);
  	-o-transition:all .8s cubic-bezier(0.23,1,0.32,1);
  	-ms-transition:all .8s cubic-bezier(0.23,1,0.32,1);
  	transition:all .8s cubic-bezier(0.23,1,0.32,1);
}

.menu-navigation-basic ul li a:hover {
     color: #5c3239;
} */

.img-brand {
    height: 60px;
}

.topnav {
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 3em;
  float: left;
  z-index: 1;
  position: absolute;
  background-color: #fdece6;
  justify-content: center;
  align-items: center;
  display: flex;
  border-top: solid 1em #f4dcdc;
}

.topnav a {
  float: none;
  text-align: center;
  text-decoration: none;
  color: #ea7e83;
  margin-top: 0px;
  padding: 1em 0 1em 0;
  font-size: 1.6em;
  display: inline;
  margin: 0 1.8em 0 1.8em;
  -webkit-transition:all .8s cubic-bezier(0.23,1,0.32,1);
    -moz-transition:all .8s cubic-bezier(0.23,1,0.32,1);
    -o-transition:all .8s cubic-bezier(0.23,1,0.32,1);
    -ms-transition:all .8s cubic-bezier(0.23,1,0.32,1);
    transition:all .8s cubic-bezier(0.23,1,0.32,1);
}

.topnav a:hover {
     color: #5c3239;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 768px) {

    .topnav a {
        float: left;
        padding-right: 0;
        margin: 0;
    }

  .topnav a:not(:first-child) {
        display: none;
  }

  .topnav a.icon {
        position: absolute;
        right: 1em;
        top: 0;
        display: block;
  }
}

@media screen and (max-width: 768px) {

  .topnav.responsive {
        position: fixed;
  }

  .topnav.responsive .icon {
        position: absolute;
        right: 1em;
        top: 0;
  }

    div.responsive a {
        display: block;
        text-align: left;
    }

}


.content {
    height: 100%;
    min-height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    border-top: solid #f4dcdc;
    border-width: 0.2em;
}

.revista{
    padding-top: 4em;
    background-color: #f4dcdc;
    margin-bottom: -8em;
}


.playlist {
    background-color: #f5adad;
}

.sobre {
    background-color: #e57c80;
    padding-bottom: 8em;

}

.projeto {
    background-color: #f6cece;
    padding-top: 8em;
    padding-bottom: 8em;

}

.texto-sobre {
    width: 90%;
    text-align: justify;
    color: #4a1d2a;
    padding-bottom: 2em;
    padding-top: 4em;
}

.contato {
    color: #f4dcdc;
    font-size: 1.4em;
    background-color: #5c3239;
    padding-bottom: 2em;
    padding-top: 3em;

}

.content h2 {
    font-size: 2em;
    color: #5c3239;
}

.content p {
    font-family: "calibri";
}

.content li {
    font-family: "calibri";
}

.player-list {
    padding-top: 4em;
    width: 90%;
    padding-bottom: 2em;
}

.player {
    text-align: center;
    background-color: #c24d56;
    color: #C24E57;
    padding: 1.2em;
}

.capa {
    border: solid .2em;
    border-color: #fff;
    display: block;
    height: 12em;
    margin-left: auto;
    margin-right: auto;
}

.titulo {
    text-align: center;
    font-family: "calibri";
    display: block;
    padding-left: 1em;
    font-size: 1.2em;
    color: #fff;
}

.controles {
    padding: .6em;
    display: inline;
}

.botao {
    display: inline-block;
    color: #fff;
    font-size: 1.6em;
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
    outline:none;
    text-decoration: none;

}

.download-album {
  text-align: center;
}

.botao-download {
    display: inline-block;
    color: #fff;
    font-size: 1.4em;
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
    outline:none;
    text-decoration: none;
    border: solid #fff;
    border-width: .1em;
    padding: .2em 1em .2em 1em;
    margin-top: 1em;
}

.botao:hover {
    color: #F4ACAD;
}

#restart-music {
  display: none;
}

.list-music {
    height: 18em;
    overflow-y: scroll;
    background-color: #fdece6;
}

.faixa {
    display: block;
    font-family: "calibri";
    background-color: transparent;
    border-width: 0;
    color: #C24E57;
    cursor: pointer;
    height: 2em;
    padding: .2em;
    font-size: 1.2em;
    outline:none;
}

.faixa:hover {
    color: ;
}

#canvas-barra {
    margin-top:10px;
    border-style: solid;
    border-color: #fdece6;
    border-width: 1px;
    border-radius: 25px;
    padding:2px;
    cursor: pointer;
}

progress {
    height: .8em;
    display: block;
    width: 100%;
    margin: 2em auto;
    padding: .2em;
    border: 0 none;
    background: #fff;
    color: #c24d56;
}

progress::-moz-progress-bar {
    background: #c24d56;
}

progress::-webkit-progress-bar {
    background: #fff;
}
progress::-webkit-progress-value {
    background: #c24d56;
}

.scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #C24E57;
}


@media screen and (min-width: 768px) {

    .capa {
      display: inline;
      height: 8em;
    }

    .titulo {
        text-align: left;
        font-size: 2em;
        display: inline-block;
        vertical-align: top;
    }

    .controles {
        text-align: center;
        display: block;
    }

    .player-list {
        width: 60%;
    }

    .player {
        text-align: left;
        padding: 2em;
    }

    .botao {
        font-size: 2em;
    }

    #restart-music {
      display: inline-block;
    }

    .texto-sobre {
        width: 60%;
        text-align: justify;
        color: #4a1d2a;
        padding-bottom: 2em;
    }
}
